In [ ]:
pip install numpy

In [ ]:
pip install pandas

In [49]:
pip install sklearn

Requirement already satisfied: sklearn in /Users/octavian/opt/anaconda3/lib/python3.8/site-packages (0.0)
Requirement already satisfied: scikit-learn in /Users/octavian/opt/anaconda3/lib/python3.8/site-packages (from sklearn) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/octavian/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /Users/octavian/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /Users/octavian/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in /Users/octavian/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.20.1)
Note: you may need to restart the kernel to use updated packages.

In [52]:
import pandas as pd
import dill
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
from sklearn.metrics import roc_auc_score,roc_curve
from sklearn.metrics import f1_score
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import precision_score,recall_score
from sklearn.impute import SimpleImputer

In [53]:
data = pd.read_csv("heart.csv")
data.head(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [54]:
data.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [56]:
data.shape

(303, 14)

In [57]:
values = {}
for i in list(data.columns):
     values[i] = data[i].value_counts().shape[0]
        
pd.DataFrame(values,index=["unique count"]).transpose()

          unique count
age                 41
sex                  2
cp                   4
trtbps              49
chol               152
fbs                  2
restecg              3
thalachh            91
exng                 2
oldpeak             40
slp                  3
caa                  5
thall                4
output               2

In [58]:
data.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [62]:
categorical_features = ['sex', 'exng', 'caa', 'cp', 'fbs', 'restecg', 'slp', 'thall']
numerical_features = ["age", "trtbps", "chol", "thalachh", "oldpeak"]

In [51]:
X_train, X_test, y_train, y_test = train_test_split(data,data['output'], test_size=0.2, random_state=42)
#save test
X_test.to_csv("X_test.csv", index=None)
y_test.to_csv("y_test.csv", index=None)
#save train
X_train.to_csv("X_train.csv", index=None)
y_train.to_csv("y_train.csv", index=None)

In [60]:
class FeatureSelector(BaseEstimator, TransformerMixin):
    def __init__(self, column):
        self.column = column

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        return X[self.column]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in self.columns:
            if col_ not in test_columns:
                X[col_] = 0
        return X[self.columns]

In [63]:
transform = list()

for cat_col in categorical_features:
    cat_transformer = Pipeline([
                ('selector', FeatureSelector(column=cat_col)),
                ('ohe', OHEEncoder(key=cat_col))
            ])
    transform.append((cat_col, cat_transformer))
    
for cont_col in numerical_features:
    cont_transformer = Pipeline([
                ('selector', NumberSelector(key=cont_col))
            ])
    transform.append((cont_col, cont_transformer))

In [64]:
feats = FeatureUnion(transform)
feature_processing = Pipeline([('feats', feats)])

In [65]:
%%time

pipeline = Pipeline([
    ('features',feats),
    ('classifier', GradientBoostingClassifier()),
])

pipeline.fit(X_train, y_train)

CPU times: user 195 ms, sys: 11.8 ms, total: 206 ms
Wall time: 218 ms

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('sex',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='sex')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='sex'))])),
                                                ('exng',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='exng')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='exng'))])),
                                                ('caa',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='caa')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='c...
                                                                  NumberSelector(key='age'))])),
                                                ('trtbps',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='trtbps'))])),
                                                ('chol',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='chol'))])),
                                                ('thalachh',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='thalachh'))])),
                                                ('oldpeak',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='oldpeak'))]))])),
                ('classifier', GradientBoostingClassifier())])

In [66]:
pipeline.steps

[('features',
  FeatureUnion(transformer_list=[('sex',
                                  Pipeline(steps=[('selector',
                                                   FeatureSelector(column='sex')),
                                                  ('ohe',
                                                   OHEEncoder(key='sex'))])),
                                 ('exng',
                                  Pipeline(steps=[('selector',
                                                   FeatureSelector(column='exng')),
                                                  ('ohe',
                                                   OHEEncoder(key='exng'))])),
                                 ('caa',
                                  Pipeline(steps=[('selector',
                                                   FeatureSelector(column='caa')),
                                                  ('ohe',
                                                   OHEEncoder(key='caa'))])),
                                 ('cp',
                                  Pipeline(step...
                                 ('age',
                                  Pipeline(steps=[('selector',
                                                   NumberSelector(key='age'))])),
                                 ('trtbps',
                                  Pipeline(steps=[('selector',
                                                   NumberSelector(key='trtbps'))])),
                                 ('chol',
                                  Pipeline(steps=[('selector',
                                                   NumberSelector(key='chol'))])),
                                 ('thalachh',
                                  Pipeline(steps=[('selector',
                                                   NumberSelector(key='thalachh'))])),
                                 ('oldpeak',
                                  Pipeline(steps=[('selector',
                                                   NumberSelector(key='oldpeak'))]))])),
 ('classifier', GradientBoostingClassifier())]

In [67]:
with open("GB_pipeline.dill", "wb") as f:
    dill.dump(pipeline, f)